<!DOCTYPE HTML>
<html lang="en">
  <head>

      <title>Spark Consultancy Services</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Favicon -->
      <link rel="shortcut icon" href="img/logo2.png" type="image/x-icon">
      <link rel="icon" href="img/logo2.png" type="image/x-icon">
      <!-- AngularMaterial -->
  		 <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  		 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  		 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  		 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  		 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  		 <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  		<!-- /AngularMaterial -->

      <!-- JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!-- /JQuery -->

      <!-- Bootstrap  -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <!-- /Bootstrap  -->

      <!-- Font Awesome -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- /Font Awesome -->

  		<!-- MDL -->
  		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- /CDN -->
    <style>
    #companyProfileRow {
      background-color: #ECECEC;
    }
    #companyProfileRow div{
      margin:0px;
      padding:0px;
    }
    #companyProfileRow div h4{
      text-align: center;
    }
    #companyProfileRow div p{
      padding: 0px 10px 0px 10px;
      text-align: justify;
    }
    </style>

    <!-- Self Hosted -->
    <script src="lib/angular.min.js"></script>
      <!-- Custom CSS -->
        <link rel="stylesheet" href="css/style.css">
        <!-- <link rel="stylesheet" href="css/style.min.css"> -->

      <!-- Custom JS -->
        <!-- <script src="js/app.min.js"></script> -->
        <script src="js/app.js"></script>
        <script src="js/script.js"></script>
    <!-- /Self Hosted -->
    <script>
	    var shiftWindow = function() { scrollBy(0, -80) };
	    window.addEventListener("hashchange", shiftWindow);
	    function load() { if (window.location.hash) shiftWindow(); }
	  </script>
  </head>
  <body data-ng-app="manPower" data-ng-controller="JobsController">
    <!-- Navbar -->
    <div class="container-fluid" style="width:100%;position:fixed;z-index:10;">
      <div class="row">
        <div class="myTopNavBar">
          <div class="col-md-3 col-sm-4 col-xs-4" style="text-align:center;">
            <img src="img/logo2.png" alt="Brume Solutions" style="width:100%;height:125px;"/>
          </div>
          <div class="col-md-6 col-md-offset-3 col-sm-8 col-xs-8" style="text-align:right;">
            <div class="row" style="padding:0px;">
              <div class="col-md-3" style="float:right;">
                <ul id="socialNavBar" style="height:30px;">
                  <!-- <li class="item"><a href="https://www.facebook.com/brumesolutions/" target="blank"><i class="fa fa-facebook" style="color:#4867AA"></i></a></li>
                  <li class="item"><a href="https://in.linkedin.com/in/brume-solutions-a1999a128" target="blank"><i class="fa fa-linkedin" style="color:#0077B5"></i></a></li>
                  <li class="item"><a href="#" target="blank"><i class="fa fa-google-plus" style="color:#D94835"></i></a></li> -->
                </ul>
                <!-- <hr style="margin:0px;"> -->
              </div>
            </div>
            <div class="row">
              <div class="showInMobileScreen" style="padding:5px 15px 0px 5px;" data-ng-click="toggleMobileMenu()"><i class="material-icons" id="mobileMenuIcon">menu</i></div>
              <ul id="myTopNavBarMenu" class="hideInMobileScreen">
                <a href="index.html#" data-ng-mouseover="viewServiceSubmenu='false'"><li>HOME</li></a>
                <a href="companyProfile.html" data-ng-mouseover="viewServiceSubmenu='false'"><li>COMPANY PROFILE</li></a>
                <a href="index.html#services" data-ng-mouseover="viewServiceSubmenu='true'"><li>SERVICES</li></a>
                <a href="contactus.html" data-ng-mouseover="viewServiceSubmenu='false'"><li>CONTACT US</li></a>
              </ul>
            </div>
            <!-- services Sub Menu -->
            <div class="row" style="text-align:left;">
              <div class="serviceSubmenu col-md-5 col-md-offset-6" data-ng-show="viewServiceSubmenu=='true'" data-ng-mouseleave="viewServiceSubmenu='false'">
                <ul id="navSubmenu">
                  <a href="services.html"><li ng-click="setActiveServicesTab('staffing')">STAFFING SOLUTION</li></a>
                  <a href="services.html"><li ng-click="setActiveServicesTab('facility')">FACILITY MANAGEMENT SERVICES</li></a>
                  <a href="services.html"><li ng-click="setActiveServicesTab('realEstate')">REAL ESTATE CONSULTANT</li></a>
                  <a href="services.html"><li ng-click="setActiveServicesTab('events')">EVENT MANAGEMENT SERVICES</li></a>
                </ul>
              </div>
            </div>
            <!-- /services Sub Menu -->
          </div>
        </div>
        <div class="center" data-ng-show="mobileMenu=='active'">
          <ul id="navSubmenu">
            <a href="index.html#" ng-click="toggleMobileMenu()"><li>HOME</li></a>
            <a href="companyProfile.html" ng-click="toggleMobileMenu()"><li>COMPANY PROFILE</li></a>
            <a href="index.html#services" ng-click="toggleMobileMenu()"><li>SERVICES</li></a>
            <a href="services.html"><li ng-click="setActiveServicesTab('staffing')">STAFFING SOLUTION</li></a>
            <a href="services.html"><li ng-click="setActiveServicesTab('facility')">FACILITY MANAGEMENT SERVICES</li></a>
            <a href="services.html"><li ng-click="setActiveServicesTab('realEstate')">REAL ESTATE CONSULTANT</li></a>
            <a href="services.html"><li ng-click="setActiveServicesTab('events')">EVENT MANAGEMENT SERVICES</li></a>
            <a href="contactus.html" ng-click="toggleMobileMenu()"><li>CONTACT US</li></a>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Navbar -->

    <!-- Overlapse the Fixed navbar -->
    <div style="height:115px;background-color:white;"></div>
    <!-- /Overlapse the Fixed navbar -->

    <div style="background:url('img/bg.jpg');background-size:cover;">
      <div class="container-fluid">
        <div class="row" style="padding:30px;">
          <div class="col-md-10 col-md-offset-1" style="padding:10px 0px 10px 20px;box-shadow:0px 0px 4px grey;background-color:white;">
            <div class="container-fluid">
              <div style="padding:25px 50px 25px 50px;">
                <div class="row" id="companyProfileRow">
                  <div class="col-md-6">
                    <img src="lib/slider/img/slider1.jpg" style="width:100%;"/>
                  </div>
                  <div class="col-md-6">
                    <h4>Vision</h4>
                    <p>Our vision is to become the employer’s preferred Recruitment Agency of choice based on the extent and quality of our service. We also endeavor to be the preferred platform for candidates to discover and pursue exciting careers with their ideal organizations. </p>
                  </div>
                </div>
                <div class="row" id="companyProfileRow">
                  <div class="col-md-6">
                    <h4>Mission</h4>
                    <p>Our mission is simple: connect the world's professionals to make them more productive and successful and also Our mission is to be the preferred and trusted recruitment partner to both our clients and candidates. To achieve this, we are committed to the provision of excellent customer service, quality staffing and competitive pricing. We will continue to work in close consultation with our clients to ensure that their staffing needs are adequately met to their complete satisfaction.</p>
                  </div>
                  <div class="col-md-6">
                    <img src="lib/slider/img/slider2.jpg" style="width:100%;"/>
                  </div>
                </div>
                <div class="row" id="companyProfileRow">
                  <div class="col-md-6">
                    <img src="lib/slider/img/slider3.jpg" style="width:100%;"/>
                  </div>
                  <div class="col-md-6">
                    <h4>We make Recruitment of all business easy</h4>
                    <p>Spark Consultancy, recruit new talent for open positions in the workforce also provide a wide range of Recruitment Solutions for various requirements. Team of Spark Consultancy is expertise in respected fields. With an experience of serving industries like Manufacturing Industries, Pharmaceutical Industries, IT Industries, Insurance, Facility management etc, </p>
                  </div>
                </div>
                <div class="row" style="background-color:#ECECEC;padding:20px;">
                  <hr>
                  <h4 style="text-align:center;">Services at a glance.</h4>
                  <h5>Manpower service</h5>
                  <p>Get all manpower at one place for your business and fill your organization with full of talent who help in growing your organization to the next level</p>
                  <h5>Event Management</h5>
                  <p>Need resources to manage events like cultural, IT, business seminars or Bollywood. Spark consultancy help you providing hustle free management in your budget.</p>
                  <h5>Facility management</h5>
                  <p>Need people for housekeeping or managing other utilities for your organization ? Spark Consultancy help you bring them in no time.</p>
                </div>
                <div class="row" style="background-color:#ECECEC;padding:20px;">
                  <hr>
                  <h4 style="text-align:center;">Why do businesses choose Spark Consultancy for Recruitment or other services?</h4>
                  <h5>Reliable</h5>
                  <p>We deliver the suitable and desired profile at the mentioned time limit. Spark Consultancy is specialized in freshers, Middle Management to senior level management hiring. We are specialized in all sectors Like manufacturing, Pharma, Health-Care, Telecom, IT Recruitment,   NON-IT Recruitment's, & ITES Recruitment, Facility Management & Event management also.</p>
                  <h5>Straight Forward</h5>
                  <p>Reach out to our team by visiting or a phone call, immediate attentions will be given to each customer as we are committed to provide quick service as far as possible.</p>
                  <h5>One Stop Platform</h5>
                  <p>Make a call or email and your requirement will be fulfilled.</p>
                  <h5>Simple and affordable pricing</h5>
                  <p>Mention your cost/month or year and ask customer to call or email you for more details & workflow</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- QuickNav -->
    <div id="QuickNavBar">
      <div class="container-fluid">
        <div class="row center">
          <hr>
          <ul id="QuickNav">
            <li><a href="index.html">Home</a></li> |
            <li><a href="companyProfile.html">Company Profile</a></li> |
            <li><a href="companyProfile.html">Vision & Mission </a></li> |
            <li><a href="jobs.html">Post Resume </a></li> |
            <li><a href="postRequirement.html">Post Job Requirement </a></li> |
            <li><a href="contactus.html">Contact Us </a></li> |
            <li><a href="contactus.html">Enquiry</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /QuickNav -->
    <!-- Footer -->
    <div id="footer" data-ng-mouseover="viewServiceSubmenu='false'" data-ng-controller="HomeController">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12" style="padding:10px">
            <span class="white" style="font-size:20px;">ABOUT US</span>
            <hr style="border-color: #0077B5;">
            <div class="row" style="text-align:left;padding:0px 30px 0px 30px">
              Spark Consultancy, recruit new talent for open positions in the workforce also provide a wide range of Recruitment Solutions for various requirements. Team of Spark Consultancy is expertise in respected fields. With an experience of serving industries like Manufacturing Industries, Pharmaceutical Industries, IT Industries, Insurance, Facility management etc,..
            </div>
            <div class="row" style="text-align:justify;padding:20px 30px 0px 30px">
              <p><b>Visitor No. {{views}}</b></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12" style="padding:10px">
            <span class="white" style="font-size:20px;">INFORMATION</span>
            <hr style="border-color: #0077B5;">
            <div class="row left">
              <div class="col-md-9 col-md-offset-2">
                <p class="footerColor" ng-click="setActiveServicesTab('staffing')">&gt<a href="#" id="footerInformationContent">Staffing Solution</a>
                <p class="footerColor" ng-click="setActiveServicesTab('facility')">&gt<a href="#" id="footerInformationContent">Facility Management Services</a>
                <p class="footerColor" ng-click="setActiveServicesTab('realEstate')">&gt<a href="#" id="footerInformationContent">Real Estate Consultant</a>
                <p class="footerColor" ng-click="setActiveServicesTab('events')">&gt<a href="#" id="footerInformationContent">Event Management Services</a>
                <!-- <p class="footerColor">&gt<a href="login.html" id="footerInformationContent">Login</a> -->
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12" style="padding:10px">
            <div class="row">
              <span class="white" style="font-size:20px;">CONTACT INFO</span>
              <hr style="border-color: #0077B5;">
            </div>
            <div class="row" style="padding:2px;">
              <div class="col-md-2 col-sm-2 col-xs-2 center">
                <i class="material-icons" id="contactFormIcons">place</i>
              </div>
              <div class="col-md-10 col-sm-10 col-xs-10 left">
                Shop No. 07, Ground Floor, 1:1, <br />Hare Krishna CHS Ltd., Sector-13, <br/> Sanpada, Navi Mumbai, India
              </div>
            </div>
            <div class="row" style="padding:5px;">
              <div class="col-md-2 col-sm-2 col-xs-2 center">
                <i class="material-icons" id="contactFormIcons">call</i>
              </div>
              <div class="col-md-5 col-sm-5 col-xs-5">
                S.Choudhary <br /> (+91) 8454034443
              </div>
              <div class="col-md-5 col-sm-5 col-xs-5">
                I. Mukherjee <br /> (+91) 9699008987
              </div>
            </div>
            <div class="row" style="padding:5px;">
              <div class="col-md-2 col-sm-2 col-xs-2 center">
                <i class="material-icons" id="contactFormIcons">email</i>
              </div>
              <div class="col-md-10 col-sm-10 col-xs-10">
                info@sparkconsultancyweb.com
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="row center">
              <ul id="footerSocialMediaIcons">
                <!-- <li><a href="https://www.facebook.com/brumesolutions/" target="_blank"><i class="fa fa-facebook-official" style="color:#4867AA" aria-hidden="true"></i></a></li>
                <li><a href="https://in.linkedin.com/in/brume-solutions-a1999a128" target="_blank"><i class="fa fa-linkedin-square" style="color:#0077B5" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus-square" style="color:#D94835" aria-hidden="true"></i></a></li> -->
              </ul>
              <!-- Social Media Icons -->
              <!-- /Social Media Icons -->
            </div>
          </div>
          <div class="col-md-4">
            <span>Copyright 2017 @ Spark Consultancy Services</span>
          </div>
          <div class="col-md-4">
            Managed By <a href="https://brumesolutions.com" target="_blank">Brume Solutions</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Footer -->

    <!-- Scrollers -->
    <div id="scrollToBottom" onclick="window.scrollTo(0,document.body.scrollHeight);" style="background-color:rgba(0,0,0,0.5);color:white;"><i class="fa fa-fw fa-angle-down pullRight" style="font-size:18px;"></i></div>
    <div id="scrollToTop" onclick="window.scrollTo(0,0);" style="background-color:rgba(0,0,0,0.5);color:white;"><i class="fa fa-fw fa-angle-up pullRight" style="font-size:18px;"></i></div>
    <script>
      //Scroll Detector
      window.onscroll = function() {myFunction()};
      document.getElementById("scrollToTop").style.visibility = "hidden";
      document.getElementById("scrollToBottom").style.visibility = "hidden";
      function myFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
          document.getElementById("scrollToTop").style.visibility = "visible";
          document.getElementById("scrollToBottom").style.visibility = "visible";
        } else {
          document.getElementById("scrollToTop").style.visibility = "hidden";
          document.getElementById("scrollToBottom").style.visibility = "hidden";
        }
      }
    </script>

    <script>
      function signOut() {
         var auth2 = gapi.auth2.getAuthInstance();
         auth2.signOut().then(function () {
           console.log('User signed out.');
         });
       }

      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId());
        console.log('Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail());

      }
    </script>
  </body>
</html>
